# 1.Python

## 1. Python for Computations

In [3]:
# This is a comment! 
1+1

2

In today's lecture, we will start with Python

In [4]:
2**4 #raised to the power of two

16

In [5]:
5%3

2

# 2. Variables in Python

In [12]:
x=1+1
print(x)

2

In [13]:
x

2

In [15]:
#Question 2
height = 1.8
weight = 71

bmi = weight/height**2

In [16]:
bmi

21.91358024691358

In [19]:
# Question 3
height = 2
weight = 71

bmi = weight/height**2
bmi

17.75

In [35]:
# Question 4
x = 5
x

5

In [36]:
# Question 5
x+1

6

In [37]:
x

5

In [38]:
x=x+1
x

6

In [39]:
x+=1
x

7

In [40]:
x-=1
x

6

In [41]:
#Question 6

x = 45
y = "Marshall"
z = "DSO 545"

In [42]:
x,y,z = 45, "Marshall", "DSO 545"

In [43]:
x,y,z

(45, 'Marshall', 'DSO 545')

## Type of Data or Variables

In [44]:
#Question 7
type(x)

int

In [45]:
type (bmi) #float, decimal

float

In [46]:
type ("DSO 545") #string

str

In [47]:
#Question 8
x = 2.5
type(x)

float

In [49]:
int(x) #represents x as an integer, but does not change the actual value of x

2

In [50]:
type(x)

float

In [51]:
# to reassing x as an integer
x = int(x)
type(x)

int

In [52]:
str(x)

'2'

In [53]:
x

2

In [54]:
x = str(x)

In [55]:
x

'2'

In [56]:
#So far we've done the following functions print(), int(), type(),str(), float()

## 4. Python "List" Data Structure

In [58]:
# Question 9 

[4,5,7]

[4, 5, 7]

In [106]:
# To access the list, you must assign a name to it
squares = [1,4,9,16,25,36,49,64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [62]:
type(squares)

list

In [66]:
#Question 10
mixed_list = ["one", 1, "four",4, "nine", 9]
mixed_list

['one', 1, 'four', 4, 'nine', 9]

In [65]:
type(mixed_list)

list

In [70]:
list_of_lists= [[1, "one"],[2,"two"],[3,"three"]]

In [71]:
list_of_lists

[[1, 'one'], [2, 'two'], [3, 'three']]

## 5. Acessing Elements of Lists in Python

In [107]:
# Question 12

squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [99]:
squares[0] #Python starts its index at 0

4

In [108]:
# Question 13
squares[2] #third element

9

In [109]:
squares[5] #sixth element

36

In [78]:
squares[20] # 20 is out of the index range for this list

IndexError: list index out of range

In [110]:
#Question 14

squares[7]

64

In [111]:
squares[-1] # last element in the list

64

In [112]:
squares[-2] #second to last in the list

49

In [105]:
# OR 
len(squares) #number of elements in the list

8

In [113]:
squares[len(squares)-1]

64

In [114]:
# Question 15

In [117]:
squares [2:5] #list[Start:End]

[9, 16, 25]

In [116]:
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [118]:
squares[:3]

[1, 4, 9]

In [119]:
# Question 16
squares[4:]

[25, 36, 49, 64]

In [121]:
# Question 17 
squares[2:5]

[9, 16, 25]

In [122]:
# Question 18
squares[::3] #list [start:end:step]

[1, 16, 49]

In [126]:
# Question 19
squares[::-1] #reverse order(one step at a time)

[64, 49, 36, 25, 16, 9, 4, 1]

In [127]:
# Question 20
squares[::-2] #every other 2nd element in reverse order

[64, 36, 16, 4]

In [128]:
squares [3::2] #every other second element starting from the fourth element

[16, 36, 64]

In [131]:
# Question 21
x=[30,60,70,100,120]
x

[30, 60, 70, 100, 120]

In [132]:
x[2]

70

In [133]:
x[2]=95
x

[30, 60, 95, 100, 120]

In [139]:
# Question 22
x[1:4] = [55,65,95]
x

[30, 55, 65, 95, 120]

## 6. Iterating over a Python List

In [141]:
x = range(10)

In [144]:
for i in range(10):
    print("Pushin")

Pushin
Pushin
Pushin
Pushin
Pushin
Pushin
Pushin
Pushin
Pushin
Pushin

In [145]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [146]:
for i in range(10):
    print(i)
    print("Pushin")

0
Pushin
1
Pushin
2
Pushin
3
Pushin
4
Pushin
5
Pushin
6
Pushin
7
Pushin
8
Pushin
9
Pushin

In [148]:
for i in range(10):
    print(i)
    print("Pushin")
print("Hi, I am Pushin")

#The body of the loop is seperated by the indentation.

0
Pushin
1
Pushin
2
Pushin
3
Pushin
4
Pushin
5
Pushin
6
Pushin
7
Pushin
8
Pushin
9
Pushin
Hi, I am Pushin

In [152]:
# Question 23

list = [1,3,5,7,9]

for i in list:
    print(i)

# i is usually used because it stands for iteration

1
3
5
7
9

In [154]:
# Question 24

degrees = [o,10,20,40,100]

In [156]:
print("DSO","545")

DSO 545

In [157]:
#if we have two stirngs, it will concatentate them, if we have two numbers, it will add them.

In [158]:
print("DSO" + str(545))

DSO545

In [168]:
# Question 25
for i in range (6):
    print(i)

0
1
2
3
4
5

In [165]:
# Question 24
degrees = [0,10,20,40,100]

In [178]:
for i in range(len(degrees)):
    print("list element:" + str(degrees[i]))
print("the degrees list has " + str(degrees[i]) + " elements ")

list element:0
list element:10
list element:20
list element:40
list element:100
the degrees list has 100 elements

In [170]:
# Question 26
list = [1,3,5,7,9]
for i in list:
    print(i)

1
3
5
7
9

In [184]:
# Question 27
list = [1,2,3,4,5,6,7,8,9]
[print(2*i) for i in list]

2
4
6
8
10
12
14
16
18

[None, None, None, None, None, None, None, None, None]

In [185]:
[i**3 for i in list]

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [186]:
x = [i**3 for i in list]
x

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [188]:
# Question 28
[i**2 for i in list]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [190]:
## Side Question
[i**2 for i in list[::2]]

[1, 9, 25, 49, 81]

In [191]:
# Question 29

# For loop

for i in list: 
    if (i)%2==0:
        print(i)

2
4
6
8

In [194]:
# Using list comprehensions
[i for i in list if (i%2 ==0)]

[2, 4, 6, 8]

In [195]:
#Side note
4%2 == 0

True

In [196]:
4%2 == 1

False

In [199]:
#Question 30 
x = [30, 60,70,100,120]
x

x.append(150)
x

[30, 60, 70, 100, 120, 150]